@-moz-document url-prefix("chrome:") {
    #unified-extensions-button {
        opacity: 0 !important;
        transition: opacity 0.3s ease;
    }
    #unified-extensions-button:hover {
        opacity: 1 !important;
    }
}
